@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  --jakarta: 'Plus Jakarta Sans', sans-serif;
  --color1: #666CA3;
  --color2: #13183F;
  --color3: #83869A;
  --color4: #F74780;
  --color5: #FFA7C3;

}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: var(--jakarta);
  font-size: 1.6rem;
}

img {
  width: 100%;
}

.container {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(1, minmax(39.8rem, 1fr));
}



.maximize-container > h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--color2);
  margin-bottom: 2rem;
  max-width: 32.6rem;
  line-height: 5.04rem;
}

.maximize-container > p:first-of-type {
  color: var(--color3);
  line-height: 26px;
  font-weight: 500;
  line-height: 2.6rem;
  max-width: 39.8rem;
  
}

.gradient {
  background: linear-gradient(
              180deg,
              #FF6F48 0%,
              #F02AA6 100%
  );
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

.header > button {
  width: 140px;
  height: 48px;
  border-radius: 28px;
  font-weight: 700;
  color: white;
  background-color: var(--color2);
  transition: 0.1s ease-out;
}

.header > button:hover {
  background-color: var(--color1);
  opacity: unset;
}

.start:hover {
  opacity: 0.5;
}


.start {
  width: 16.7rem;
  height: 5.6rem;
  border-radius: 3.15rem;
  border: none;
  color: white;
  font-weight: 700;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  border-radius: 10px;
  font-size: 2.4rem;
  font-weight: 800;
  color: white;
  padding: 2.4rem 2.9rem 3.2rem 2.8rem;
  line-height: 3.2rem;
}

.content-container {
  display: grid;
}

.grid-item {
  padding: 1rem 2.9rem 3.2rem 2.8rem;
}

.grid-item:first-of-type {
  margin-top: 1.6rem;
}

.grid-item > p:first-of-type {
  font-size: 2rem;
  font-weight: 800;
  line-height: 25.2px;
  color: var(--color2);
  margin-top: 2.4rem;
}

.grid-item > p:nth-child(3) {
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--color3);
}

.grid-item > a {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: var(--color4);
  text-decoration: none;
}

.grid-item:nth-child(5) {
  margin-bottom: 8rem;
}

.content-container > div > img {
  width: 56px;
  height: 56px;
}

.footer {
  padding: 3.6rem 1.6rem;
  display: flex;
  background-color: var(--color2);
  width: 100%;
  height: 12rem;
  align-items: center;
  justify-content: space-between;
}

.footer > button {
  width: 14rem;
  height: 4.8rem;
  color: white;
  font-weight: 700;
  line-height: 2.8rem;
  background: linear-gradient(180deg,
              #4851FF 0%,
              #F02AA6 100%);
  border-radius: 28px;
}

.footer > button:hover {
  background: unset;
  background-color: var(--color5);
  transition: 0.1s ease-in-out;
}

a:hover {
  color: var(--color5);
  transition: 0.1s ease-in-out;
}

@media (min-width:60rem) {

  .container {
    grid-template-columns: 39.8rem,minmax(30rem,1fr);
    grid-template-areas: "header header"
                         "maximize picture"
                         "content-grid content-grid"
                         "footer footer";
    row-gap: 3.2rem;
    grid-gap: 1rem;
  }

  .header {
    grid-area: header;
  }

  .maximize-container {
    grid-area: maximize;
  }

  .hero-image {
    grid-area: picture;
  }

  .content-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 3.2rem;
    grid-template-columns: repeat(2, minmax(60rem,1fr));
    grid-template-areas: "checkout animation"
                         "design photography"
                         "crypto business"
  }

  .checkout {
    height: 25.9rem;
    max-width: 33.9rem;
    grid-area: checkout;
  }

  .item-2 {
    grid-area: animation;
  }

  .item-3 {
    grid-area: design;
  }

  .item-4 {
    grid-area: photography;
  }

  .item-5 {
    grid-area: crypto;
  }

  .item-6 {
    grid-area: business;
  }

  .footer {
    grid-area: footer;
    max-width: 100%;
  }
  
}

@media (min-width:90rem) {
  .container {
    grid-template-columns:  39.8rem, repeat(2, minmax(32rem, 1fr));
    grid-template-areas: "header header header"
                         "maximize picture picture"
                         "content-grid content-grid content-grid"
                         "footer footer footer"
  }

  .header {
    grid-area: header;
  }

  .maximize-container {
    grid-area: maximize;
  }

  .hero-image {
    grid-area: picture;
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(60rem, 90rem));
    grid-template-areas: "checkout animation design"
                         "photography crypto business"
  }

  .item-1 {
    grid-area: checkout;
  }

  .item-2 {
    grid-area: animation;
  }

  .item-3 {
    grid-area: design;
  }

  .item-4 {
    grid-area: photography;
  }

  .item-5 {
    grid-area: crypto;
  }

  .item-6 {
    grid-area: business;
  }

  .footer > button {
    background: linear-gradient(180deg,
                                #4851FF -54.32%,
                                #F02AA6 100%);  
  }

  .footer > button:active {
  
  }
}


